<p id="notice"><%= notice %></p>

<h3>Listing Trucks</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Twitter</th>
      <th>Email</th>
      <th>Phone 1</th>
      <th>Phone 2</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trucks.each do |truck| %>
      <tr>
        <td><%= truck.name %></td>
        <td><%= truck.twitter %></td>
        <td><%= truck.email %></td>
        <td><%= truck.phone_1 %></td>
        <td><%= truck.phone_2 %></td>
        <td><%= truck.website %></td>
        <td><%= link_to 'Show', truck %></td>
        <td><%= link_to 'Edit', edit_truck_path(truck) %></td>
        <td><%= link_to 'Destroy', truck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Truck', new_truck_path %>

<table>
  <thead>
    <tr>
      <th>Longitude</th>
      <th>Latitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.longitude %></td>
        <td><%= location.latitude %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
