

<h2>
  <strong>The Fleet is Rolling</strong>
  <div id="index_add_truck">
    <%= link_to fa_icon("truck", text: "Add a Truck"), new_truck_path, class: "btn btn-success" %>
  </div>
</h2>

<div class="panel panel-default">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th><%= fa_icon("globe", text: "Last Location")%></th>
        <th><%= fa_icon("clock-o", text: "Last Active")%></th>
      </tr>
    </thead>

    <tbody>
      <% @trucks.order(id: :desc).each do |truck| %>
        <tr>
          <td><%= link_to "#{truck.name}", truck %></td>
          <td>
              <% if truck.locations.last %>
                <%= truck.locations.last.address %>
              <% end %>
          </td>
          <td><%= time_ago_in_words(truck.created_at) + " ago"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
