<p id="notice"><%= notice %></p>

<h3>Current Location</h3>

<div class="map-container" id='map' style='width: 400px; height: 300px;'>
  <script type="text/javascript">
    var latlong_array = [
      {
        "type": "Feature",
        "geometry": {
          "type": "Point",
          "coordinates": [
            <%= @truck.locations.last.longitude %>,
            <%= @truck.locations.last.latitude %>
          ]
        },
        "properties": {
          "title": "<%= @truck.name %>",
          "marker-symbol": "monument"
        }
      },
    ];

  </script>
</div>


<h3>
  <strong><%= @truck.name %></strong>
</h3>

<h5>
  <%= @truck.twitter %>
</h5>

<p>
  <%= @truck.email %>
</p>

<p>
  <%= @truck.phone_1 %>
</p>

<p>
  <%= @truck.phone_2 %>
</p>

<p>
  <%= link_to "#{@truck.name}'s website", @truck.website %>
</p>


<%  if current_user %>
  <%= link_to 'New Location', new_truck_location_path(truck_id: @truck.id), class:"btn btn-success" %>
  <%= link_to 'Edit', edit_truck_path(@truck), class:"btn btn-primary" %>
  <%= link_to 'Back', trucks_path, class:"btn btn-default" %>
  <%= link_to 'Destroy', truck_path(@truck), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
<% end %>
