<p id="notice"><%= notice %></p>

<h3>Current Location</h3>

<div class="map-container" id='map' style='width: 300px; height: 300px;'>
  <script type="text/javascript">
    var latlong_array = [
      {
        "type": "Feature",
        "geometry": {
          "type": "Point",
          "coordinates": [
              <%= "location.longitude" %>,
              <%= "location.latitude" %>
          ]
        },
        "properties": {
          "title": "",
          "marker-symbol": "monument"
        }
      },
    ];

  </script>
</div>


<h3>
  <strong><%= @truck.name %></strong>
</h3>

<h5>
  <%= @truck.twitter %>
</h5>

<p>
  <strong>Email:</strong>
  <%= @truck.email %>
</p>

<p>
  <%= @truck.phone_1 %>
</p>

<p>
  <%= @truck.phone_2 %>
</p>

<p>
  <%= @truck.website %>
</p>


<%  if current_user %>
  <%= link_to 'New Location', new_truck_location_path(truck_id: @truck.id) %>
  <%= link_to 'Edit', edit_truck_path(@truck) %> |
  <%= link_to 'Back', trucks_path %>
<% end %>
