<h2><strong>Fleet Tweets</strong></h2>
<div class="panel panel-default">
  <table class="table table-hover">
    <tbody>
      <thead>
        <tr>
          <th></th>
          <th><%= fa_icon("twitter-square", text: "Twitter")%></th>
          <th><%= fa_icon("comments", text: "Word on the street")%></th>
          <th><%= fa_icon("clock-o", text: "When?")%></th>
        </tr>
      </thead>
      <% @tweets.each do |tweet| %>
        <tr>
          <td><%= image_tag(tweet.user.profile_image_url, class: "img-circle")%></td>
          <td class="tweet_column">
            <%= link_to fa_icon("twitter", text: "#{tweet.user.screen_name}"),
            "http://twitter.com/#{tweet.user.screen_name}", target: "_blank" %>
          </td>
          <td><%= tweet.text %></td>
          <td><%= time_ago_in_words(tweet.created_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
