
<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, class: 'form-control' %>
  </div>
  </div>
  <div class="form-group">
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, class: 'form-control' %>
  </div>
  </div>
  <div class="field">
    <%= f.hidden_field :truck_id %>
  </div>
  <div class="actions">
    <%= f.submit '..waiting..', class: 'btn btn-info btn-lg', disabled: true %>
  </div>
  <% end %>
