<p id="notice"><%= notice %></p>

<div class="map-container" id='map' style='width: 100%; height: 600px;'>
  <script type="text/javascript">
    var latlongArray = [
      <% @locations.each do |location|%>
      {
        "type": "Feature",
        "geometry": {
          "type": "Point",
          "coordinates": [
              <%= location.longitude %>,
              <%= location.latitude %>
          ]
        },
        "properties": {
          "title": " <%= location.truck.name %> ",
          "marker-symbol": "monument"
        }
      },
      <% end %>
    ];

  </script>
</div>


<% @locations.each do |location| %>

    <%= link_to "#{location.truck.name}", truck_path(id: location.truck_id) %><%= ".." %>

<% end %>
