

<div class="map-container" id='mapIndex'>
  <script type="text/javascript">
    var latlongArray = [
      <% @locations.each do |location|%>
      {
        "type": "Feature",
        "geometry": {
          "type": "Point",
          "coordinates": [
              <%= location.longitude %>,
              <%= location.latitude %>
          ]
        },
        "properties": {
          "marker-symbol": "restaurant",
          truck_title: "<%= location.truck.name %>",
          address: "<%= location.address %>",
          url: "<%= truck_path(location.truck.id )%>"
        }
      },

      <% end %>
    ];

  </script>
</div>
