
  <div class="container">
    <div class="push"></div>
     <footer class="footer navbar-fixed-bottom">
       <aside id="copyright">
         &copy; StreetFleet 2016
       </aside>
       <aside id="social-icons">
         <%= link_to fa_icon("twitter 2x"),"https:twitter.com/streetfleetdc", target: 'blank'  %>
         <%= link_to fa_icon("facebook 2x"), "https://www.facebook.com/profile.php?id=100012221173835", target: 'blank'%>
         <%= link_to fa_icon("snapchat-ghost 2x"), "https://www.snapchat.com/", target: 'blank' %>
         <%= link_to fa_icon("instagram 2x"), "https://www.instagram.com/?hl=en", target: 'blank' %>
         <%= link_to fa_icon("github 2x"), "https://github.com/westmd23/street_fleet", target: 'blank' %>
       </aside>
     </footer>
   </div>
